@theme {
  --font-family-base: 'Source Sans Pro', sans-serif;

  /* Font Sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 56px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-heavy: 700;

  /* Colors */
  /* Gray */
  --color-gray-50: #FFFFFF;
  --color-gray-75: #FDFDFD;
  --color-gray-100: #F8F8F8;
  --color-gray-200: #E6E6E6;
  --color-gray-300: #D5D5D5;
  --color-gray-400: #B1B1B1;
  --color-gray-500: #909090;
  --color-gray-600: #6D6D6D;
  --color-gray-700: #464646;
  --color-gray-800: #222222;
  --color-gray-900: #000000;

  /* Red */
  --color-red-100: #FFEBE7;
  --color-red-200: #FFDDD6;
  --color-red-300: #FFCDC3;
  --color-red-400: #FFB7A9;
  --color-red-500: #FF9B88;
  --color-red-600: #FF7C65;
  --color-red-700: #F75C46;
  --color-red-800: #EA3829;
  --color-red-900: #D31510;
  --color-red-1000: #B40000;
  --color-red-1100: #930000;
  --color-red-1200: #740000;
  --color-red-1300: #590000;
  --color-red-1400: #430000;

  /* Orange */
  --color-orange-100: #FFECCC;
  --color-orange-200: #FFDFAD;
  --color-orange-300: #FDD291;
  --color-orange-400: #FFBB63;
  --color-orange-500: #FFA037;
  --color-orange-600: #F68511;
  --color-orange-700: #E46F00;
  --color-orange-800: #CB5D00;
  --color-orange-900: #B14C00;
  --color-orange-1000: #953D00;
  --color-orange-1100: #7A2F00;
  --color-orange-1200: #612300;
  --color-orange-1300: #491901;
  --color-orange-1400: #351201;

  /* Yellow */
  --color-yellow-100: #FBF198;
  --color-yellow-200: #F8E750;
  --color-yellow-300: #F8D904;
  --color-yellow-400: #E8C600;
  --color-yellow-500: #D7B300;
  --color-yellow-600: #C49F00;
  --color-yellow-700: #B08C00;
  --color-yellow-800: #9B7800;
  --color-yellow-900: #856600;
  --color-yellow-1000: #705300;
  --color-yellow-1100: #5B4300;
  --color-yellow-1200: #483300;
  --color-yellow-1300: #362500;
  --color-yellow-1400: #281A00;

  /* Chartreuse */
  --color-chartreuse-100: #DBFC6E;
  --color-chartreuse-200: #CBF443;
  --color-chartreuse-300: #BCE92A;
  --color-chartreuse-400: #AAD816;
  --color-chartreuse-500: #98C50A;
  --color-chartreuse-600: #87B103;
  --color-chartreuse-700: #769C00;
  --color-chartreuse-800: #678800;
  --color-chartreuse-900: #577400;
  --color-chartreuse-1000: #486000;
  --color-chartreuse-1100: #3A4D00;
  --color-chartreuse-1200: #2C3B00;
  --color-chartreuse-1300: #212C00;
  --color-chartreuse-1400: #181F00;

  /* Celery */
  --color-celery-100: #CDFCBF;
  --color-celery-200: #AEF69D;
  --color-celery-300: #96EE85;
  --color-celery-400: #72E06A;
  --color-celery-500: #4ECF50;
  --color-celery-600: #27BB36;
  --color-celery-700: #07A721;
  --color-celery-800: #009112;
  --color-celery-900: #007C0F;
  --color-celery-1000: #00670F;
  --color-celery-1100: #00530D;
  --color-celery-1200: #00400A;
  --color-celery-1300: #003007;
  --color-celery-1400: #002205;

  /* Green */
  --color-green-100: #CEF8E0;
  --color-green-200: #ADF4CE;
  --color-green-300: #89ECBC;
  --color-green-400: #67DEA8;
  --color-green-500: #49CC93;
  --color-green-600: #2FB880;
  --color-green-700: #15A46E;
  --color-green-800: #008F5D;
  --color-green-900: #007A4D;
  --color-green-1000: #00653E;
  --color-green-1100: #005132;
  --color-green-1200: #053F27;
  --color-green-1300: #0A2E1D;
  --color-green-1400: #0A2015;

  /* Seafoam */
  --color-seafoam-100: #CEF7F3;
  --color-seafoam-200: #AAF1EA;
  --color-seafoam-300: #8CE9E2;
  --color-seafoam-400: #65DAD2;
  --color-seafoam-500: #3FC9C1;
  --color-seafoam-600: #0FB5AE;
  --color-seafoam-700: #00A19A;
  --color-seafoam-800: #008C87;
  --color-seafoam-900: #007772;
  --color-seafoam-1000: #00635F;
  --color-seafoam-1100: #0C4F4C;
  --color-seafoam-1200: #123C3A;
  --color-seafoam-1300: #122C2B;
  --color-seafoam-1400: #0F1F1E;

  /* Cyan */
  --color-cyan-100: #C5F8FF;
  --color-cyan-200: #A4F0FF;
  --color-cyan-300: #88E7FA;
  --color-cyan-400: #60D8F3;
  --color-cyan-500: #33C5E8;
  --color-cyan-600: #12B0DA;
  --color-cyan-700: #019CC8;
  --color-cyan-800: #0086B4;
  --color-cyan-900: #00719F;
  --color-cyan-1000: #005D89;
  --color-cyan-1100: #004A73;
  --color-cyan-1200: #00395D;
  --color-cyan-1300: #002A46;
  --color-cyan-1400: #001E33;

  /* Blue */
  --color-blue-100: #E0F2FF;
  --color-blue-200: #CAE8FF;
  --color-blue-300: #B5DEFF;
  --color-blue-400: #96CEFD;
  --color-blue-500: #78BBFA;
  --color-blue-600: #59A7F6;
  --color-blue-700: #3892F3;
  --color-blue-800: #147AF3;
  --color-blue-900: #0265DC;
  --color-blue-1000: #0054B6;
  --color-blue-1100: #004491;
  --color-blue-1200: #003571;
  --color-blue-1300: #002754;
  --color-blue-1400: #001C3C;

  /* Indigo */
  --color-indigo-100: #EDEEFF;
  --color-indigo-200: #E0E2FF;
  --color-indigo-300: #D3D5FF;
  --color-indigo-400: #C1C4FF;
  --color-indigo-500: #ACAFFF;
  --color-indigo-600: #9599FF;
  --color-indigo-700: #7E84FC;
  --color-indigo-800: #686DF4;
  --color-indigo-900: #5258E4;
  --color-indigo-1000: #4046CA;
  --color-indigo-1100: #3236A8;
  --color-indigo-1200: #262986;
  --color-indigo-1300: #1B1E64;
  --color-indigo-1400: #141648;

  /* Purple */
  --color-purple-100: #F6EBFF;
  --color-purple-200: #EEDDFF;
  --color-purple-300: #E6D0FF;
  --color-purple-400: #DBBBFE;
  --color-purple-500: #CCA4FD;
  --color-purple-600: #BD8BFC;
  --color-purple-700: #AE72F9;
  --color-purple-800: #9D57F4;
  --color-purple-900: #893DE7;
  --color-purple-1000: #7326D3;
  --color-purple-1100: #5D13B7;
  --color-purple-1200: #470C94;
  --color-purple-1300: #33106A;
  --color-purple-1400: #230F49;

  /* Fuchsia */
  --color-fuchsia-100: #FFE9FC;
  --color-fuchsia-200: #FFDAFA;
  --color-fuchsia-300: #FEC7F8;
  --color-fuchsia-400: #FBAEF6;
  --color-fuchsia-500: #F592F3;
  --color-fuchsia-600: #ED74ED;
  --color-fuchsia-700: #E055E2;
  --color-fuchsia-800: #CD3ACE;
  --color-fuchsia-900: #B622B7;
  --color-fuchsia-1000: #9D039E;
  --color-fuchsia-1100: #800081;
  --color-fuchsia-1200: #640664;
  --color-fuchsia-1300: #470E46;
  --color-fuchsia-1400: #320D31;

  /* Magenta */
  --color-magenta-100: #FFEAF1;
  --color-magenta-200: #FFDCE8;
  --color-magenta-300: #FFCADD;
  --color-magenta-400: #FFB2CE;
  --color-magenta-500: #FF95BD;
  --color-magenta-600: #FA77AA;
  --color-magenta-700: #EF5A98;
  --color-magenta-800: #DE3D82;
  --color-magenta-900: #C82269;
  --color-magenta-1000: #AD0955;
  --color-magenta-1100: #8E0045;
  --color-magenta-1200: #700037;
  --color-magenta-1300: #54032A;
  --color-magenta-1400: #3C061D;
}
